<template>
    <header class="border-b md:flex md:items-center md:justify-between p-4 pb-0 shadow-lg md:pb-4">
      <div class="flex items-center justify-center md:justify-between mb-4 md:mb-0">
        <h1 class="leading-none text-2xl text-grey-darkest">
          <a class="no-underline text-grey-darkest hover:text-black" href="#">بیمه زندگی خاورمیانه</a>
        </h1>
      </div>
      <form class="mb-4 w-full md:mb-0 md:w-1/3">
        <input
          class="bg-grey-lightest border-2 focus:border-orange p-2 rounded-lg shadow-inner w-full"
          placeholder="جستجو در سایت"
          type="text"
        />
      </form>
      <nav class="md:w-1/4">
        <ul class="list-reset md:flex md:items-center justify-end">
          <li class="md:ml-4 md:bg-blue-500 md:p-3 md:rounded md:text-white">
            <nuxt-link
              class="block no-underline py-2 text-grey-darkest hover:text-black md:border-none md:p-0"
              to="/login"
            >ورود به پرتال</nuxt-link>
          </li>
          <li class="md:bg-blue-500 md:p-3 md:rounded md:text-white">
            <a
              class="border-t block no-underline py-2 text-grey-darkest hover:text-black md:border-none md:p-0"
              href="#"
            >راه های ارتباطی</a>
          </li>
        </ul>
      </nav>
    </header>
</template>