<template>
    <div class="container min-h-screen rounded-lg">
        <Header/>
        <Login/>
    </div>
</template>

<script>
    import Header from '~/components/Header/Header'
    import Login from '~/components/Login/Login'
    export default {
        components:{
            Header,
            Login
        }
    }
</script>
<style lang="scss">

</style>