<template>
  <div class="max-w-sm mx-auto sm:mt-12 md:mt-24 bg-white px-5 pt-10 md:py-10 md:rounded md:shadow-xl">
    <div class="text-center">
      <h1 class="font-bold text-2xl">ورود به حساب کاربری</h1>
    </div>
    <form action="#">
      <div class="mt-5">
        <label class="float-right mb-1" for="username">ایمیل یا نام کاربری</label>
        <input
          type="text"
          id="username"
          class="block w-full p-2 border rounded border-gray-500"
          placeholder="نام کاربری را وارد کنید"
        />
      </div>
      <div class="mt-5">
        <label class="float-right mb-1" for="password">رمز عبور</label>
        <input
          type="password"
          id="password"
          class="block w-full p-2 border rounded border-gray-500"
          placeholder="رمز عبور را وارد کنید"
        />
      </div>
      <div class="mt-10">
        <input
          type="submit"
          value="ورود"
          class="px-5 py-3 bg-green-500 hover:bg-green-600 rounded text-white text-center w-full"
        />
      </div>
    </form>
  </div>
</template>

<script>
export default {
    
}
</script>