<template>
  <div class="p-10 md:pt-15">
     <div class="mb-3">
         <span class="float-right mb-3 mr-2"> فرم اطلاعات  پایه</span>
     </div>
    <form class="form flex flex-col md:flex-row shadow-xl md:pb-12" action>
      <div class="md:ml-3 w-full md:w-1/3">
        <label class="block mr-1 text-gray-700 text-sm font-bold mb-2" for="name">نام و نام خانوادگی</label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="name"
          type="text"
          placeholder="نام و نام خانوادگی خود را وارد کنید."
        />
      </div>
      <div class="md:ml-3 mt-4 md:mt-0 w-full md:w-1/3">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-3"
          for="grid-state"
        >جنسیت</label>
        <div class="relative">
          <select
            class="block appearance-none w-full bg-gray-100 border border-gray-300 text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          >
            <option selected disabled>جنسیت خود را وارد کنید</option>
            <option>آقا</option>
            <option class="bg-gray-200">خانم</option>
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
          >
            <img width="10px" height="10px" src="../../assets/images/dropdown.svg" alt="">
          </div>
        </div>
      </div>
      <div class="md:ml-3 mt-4 md:mt-0 w-full md:w-1/3">
        <label class="block mr-1 text-gray-700 text-sm font-bold mb-2" for="name">تحصیلات</label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="name"
          type="text"
          placeholder="تحصیلات خود را وارد کنید."
        />
      </div>
      <div class="mt-6 w-full md:w-1/4">
        <button
          class="bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="button"
        >ثبت اطلاعات</button>
      </div>
    </form>
  </div>
</template>

<style lang="scss">
    .form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    }
</style>