* {
  direction: rtl;
}

body {
  background: rgba(128, 137, 255, 0.52);
}

.container {
  margin: 0 auto;
  background: #fff;
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
  }
}
/*# sourceMappingURL=main.css.map */