@import 'tailwindcss/base';
/* .isMobile{
    @apply hidden items-center justify-around;
} */
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: iranYekan;
    font-weight: 600;
    src: url(../fonts/iranyekanwebregular.woff2) format("woff2");
}
