<template>
  <div class="container min-h-screen rounded-lg">
    <Header/>
    <Form/>
  </div>
</template>

<script>
import Header from '../components/Header/Header';
import Form from '~/components/Form/Form'
export default {
  components:{
    Header,
    Form
  }
}
</script>

<style lang="scss">

</style>
